.search-certificado-form {
    margin-bottom: 20px;
}
.search-certificado-form input {
    padding: 5px;
    font-size: 14px;
}
.search-certificado-form button {
    padding: 5px 10px;
    font-size: 14px;
}